@import 'modules/variables';
@import 'skeleton/skeleton';
/*@import 'sprites/sprite';*/
//@import 'modules/common';
//@import 'modules/sidebar';
//@import 'modules/page';
@import '/css/main.css';
@import '/css/custom.css';

body{
  font-size: 14px;
  line-height: 120%;
}
a{
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}
.animated{
  .aside-nav {
    transform: translateX(0);
  }
  .c-nav-button {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition-delay: 1.05s;
  }
}
.c-nav-button{
  //position: relative;
}
.has-nav-open{
  .c-nav-button{
    //position: fixed;
    //z-index: 500;
  }
  .aside-nav {
    z-index: 0;
  }
}
.header{
  width: 350px;
  height: 120px;
  background-color: #fff;
  text-align: center;
  position: fixed;
  left: 120px;
  top: 0;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 1.2s;
  transform: translateY(-100%);
  &.animated{
    transform: translateY(0);
  }
}
.c-footer{
  &__left{
    width: 33%;
  }
  &__right{
    width: 67%;
  }
}


.wrapper{
  padding: 10px 10px 10px 120px;
  position: relative;
  background: #f6f6f6;
}
.footer{
  background-color: red;
  padding: 40px 10px;
}
#sidebar{
  float: left;
  width: 120px;
  color: #ffbdbd;
  will-change: min-height;
}
.nav-button{
  width: 120px;
  height: 120px;
  background: $blue;
  border: 0 none;

}
#content{
  padding: 18px;
  margin-left: 120px;
  min-height: 2000px;
  color: darkgrey;
}
.sidebar{
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  bottom: 0;
  border: 1px blue solid;
}
.c-footer{
  position: relative;
  z-index: 905;
}
.category{
   &__health{
     width: 50%;
   }
}
.header{
  &__inside{
    position: relative;
    z-index: 2;
  }
  &-title{
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0px 1px #333;
    @media($bp-larger-than-1500){
      font-size: 72px;
    }
  }
}
.contacts{
  *{
    line-height: 120%;
  }
  &__left{
    width: 50%;
  }
  &__right{
    width: 50%;
  }
  &__header {
    background: transparent url('/assets/template/img/contacts/header__bg.jpg') center top no-repeat;
    background-size: cover;
    height: 600px;
    padding: 120px 0px;
    position: relative;
    @media($bp-larger-than-1500){
      height: 789px;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000;
      opacity: 0.48;
      content: "";
      z-index: 1;
    }
  }
  &__caption{
    font-weight:300;
    font-size: 40px;
    color: #fff;
    margin-bottom: 20px;
  }
  &__address{
    width: 46%;
  }
  &__phone{
    width: 27%;
  }
  &__email{
    width: 27%;
  }
  &__subcaption{
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    @media($bp-larger-than-1500){
      font-size: 24px;
    }
  }
  &__value{
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    @media($bp-larger-than-1500) {
      font-size: 14px;
    }
    a{
      color: #fff;
    }
  }
  &__phone-number{
    font-size: 18px;
    @media($bp-larger-than-1500) {
      font-size: 24px;
    }
  }
}
.contacts-forma{
  &__left{
    width: 50%;
    padding-right: 15px;
  }
  &__right{
    width: 50%;
  }
  input[type="text"]{
    height: 50px;
    margin-bottom: 12px;
    padding: 0 20px;
    line-height: 48px;
    font-size: 16px;
    font-weight: 300;
  }
  textarea{
    height: 174px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 300;
  }
}