<footer class="c-footer">
    <div class="">
        <div class="row">
            <div class="col-md-3">
                <img class="bottom-logo" src="/assets/images/logo-white.png" alt="">
                <div class="copyright">
                    Copyright 2017 · All rights reserved
                </div>
            </div>
            <div class="col-md-9">
                <div class="footer__menu">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Продукция</a>
                            <ul>
                                <li><a href="#">Похудение</a></li>
                                <li><a href="#">Косметика</a></li>
                                <li><a href="#">Здоровье</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">События</a></li>
                        <li><a href="#">Обучение</a>
                            <ul>
                                <li><a href="#">Семинары</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Вопросы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

</div>

</div>
</div>
</div>

<div class="c-lightbox-video" data-module="LightboxVideo">
    <div class="c-lightbox-video_container o-container">
        <div class="o-video js-lightbox-video-content">

        </div>
    </div>
    <button class="c-lightbox-video_close js-lightbox-video-close" type="button">
        <svg class="c-lightbox-video_close_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#icon-close"></use></svg>
    </button>
</div>

<div style="display: none">
    <div id="callback">
        <div class="callback__caption">Заказать звонок</div>
        <form action="" method="post">
            <div class="callback__input"><input type="text" placeholder="Ваше имя"></div>
            <div class="callback__input"><input type="text" placeholder="Ваш телефон"></div>
            <div class="callback__input"><input type="text" placeholder="Ваш e-mail"></div>
            <div class="callback__input"><textarea placeholder="Ваше сообщение"></textarea></div>
            <div class="callback__button">
                <button type="submit" class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                    <span class="o-button_label">Отправить</span>
                    <div class="o-button_line"></div>
                    <div class="o-button_line"></div>
                </button>
            </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="assets/pomerleau/scripts/jquery-3.0.0.min.js"><\/script>')</script>
<script src="assets/pomerleau/scripts/vendors.js"></script>
<script src="/js/slick/slick.min.js"></script>
<script src="/js/magnific/magnific-popup.js"></script>


<script src="assets/pomerleau/scripts/app.js%3Fv=1"></script>
<script src="/js/custom.js"></script>
</body>
</html>
