
</div>
</div>
<footer class="c-footer">
    <div class="">
        <div class="row">
            <div class="c-footer__left columns">
                <img class="bottom-logo" src="/assets/images/logo-white.png" alt="">
                <div class="copyright">
                    Copyright 2017 · All rights reserved
                </div>
            </div>
            <div class="c-footer__right columns">
                <div class="footer__menu">
                    <ul>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Продукция</a>
                            <ul>
                                <li><a href="#">Похудение</a></li>
                                <li><a href="#">Косметика</a></li>
                                <li><a href="#">Здоровье</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Партнерам</a></li>
                        <li><a href="#">События</a></li>
                        <li><a href="#">Обучение</a>
                            <ul>
                                <li><a href="#">Семинары</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Вопросы</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<!-- <script src="assets/template/vendor/jquery-3.2.1.min.js"></script> -->
<script src="/js/slick/slick.js"></script>
<script src="assets/template/vendor/wow.min.js"></script>
<!-- <script src="assets/template/vendor/sticky-sidebar.js"></script> -->
<script src="assets/template/js/scripts.js"></script>
</body>
</html>