// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-name: 'adv-1';
$adv-1-x: 0px;
$adv-1-y: 0px;
$adv-1-offset-x: 0px;
$adv-1-offset-y: 0px;
$adv-1-width: 44px;
$adv-1-height: 50px;
$adv-1-total-width: 136px;
$adv-1-total-height: 122px;
$adv-1-image: '/assets/template/css/sprites/sprite.png';
$adv-1: (0px, 0px, 0px, 0px, 44px, 50px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'adv-1', );
$adv-2-name: 'adv-2';
$adv-2-x: 44px;
$adv-2-y: 0px;
$adv-2-offset-x: -44px;
$adv-2-offset-y: 0px;
$adv-2-width: 44px;
$adv-2-height: 44px;
$adv-2-total-width: 136px;
$adv-2-total-height: 122px;
$adv-2-image: '/assets/template/css/sprites/sprite.png';
$adv-2: (44px, 0px, -44px, 0px, 44px, 44px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'adv-2', );
$adv-3-name: 'adv-3';
$adv-3-x: 0px;
$adv-3-y: 50px;
$adv-3-offset-x: 0px;
$adv-3-offset-y: -50px;
$adv-3-width: 34px;
$adv-3-height: 52px;
$adv-3-total-width: 136px;
$adv-3-total-height: 122px;
$adv-3-image: '/assets/template/css/sprites/sprite.png';
$adv-3: (0px, 50px, 0px, -50px, 34px, 52px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'adv-3', );
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 71px;
$arrow-down-red-y: 69px;
$arrow-down-red-offset-x: -71px;
$arrow-down-red-offset-y: -69px;
$arrow-down-red-width: 15px;
$arrow-down-red-height: 15px;
$arrow-down-red-total-width: 136px;
$arrow-down-red-total-height: 122px;
$arrow-down-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-down-red: (71px, 69px, -71px, -69px, 15px, 15px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'arrow-down-red', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 34px;
$arrow-up-red-y: 87px;
$arrow-up-red-offset-x: -34px;
$arrow-up-red-offset-y: -87px;
$arrow-up-red-width: 15px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 136px;
$arrow-up-red-total-height: 122px;
$arrow-up-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-up-red: (34px, 87px, -34px, -87px, 15px, 15px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'arrow-up-red', );
$carusel-content-left-name: 'carusel-content-left';
$carusel-content-left-x: 88px;
$carusel-content-left-y: 44px;
$carusel-content-left-offset-x: -88px;
$carusel-content-left-offset-y: -44px;
$carusel-content-left-width: 24px;
$carusel-content-left-height: 44px;
$carusel-content-left-total-width: 136px;
$carusel-content-left-total-height: 122px;
$carusel-content-left-image: '/assets/template/css/sprites/sprite.png';
$carusel-content-left: (88px, 44px, -88px, -44px, 24px, 44px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'carusel-content-left', );
$carusel-content-right-name: 'carusel-content-right';
$carusel-content-right-x: 88px;
$carusel-content-right-y: 0px;
$carusel-content-right-offset-x: -88px;
$carusel-content-right-offset-y: 0px;
$carusel-content-right-width: 24px;
$carusel-content-right-height: 44px;
$carusel-content-right-total-width: 136px;
$carusel-content-right-total-height: 122px;
$carusel-content-right-image: '/assets/template/css/sprites/sprite.png';
$carusel-content-right: (88px, 0px, -88px, 0px, 24px, 44px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'carusel-content-right', );
$check-name: 'check';
$check-x: 34px;
$check-y: 50px;
$check-offset-x: -34px;
$check-offset-y: -50px;
$check-width: 37px;
$check-height: 37px;
$check-total-width: 136px;
$check-total-height: 122px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (34px, 50px, -34px, -50px, 37px, 37px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'check', );
$cosmetic-face-name: 'cosmetic-face';
$cosmetic-face-x: 112px;
$cosmetic-face-y: 32px;
$cosmetic-face-offset-x: -112px;
$cosmetic-face-offset-y: -32px;
$cosmetic-face-width: 23px;
$cosmetic-face-height: 26px;
$cosmetic-face-total-width: 136px;
$cosmetic-face-total-height: 122px;
$cosmetic-face-image: '/assets/template/css/sprites/sprite.png';
$cosmetic-face: (112px, 32px, -112px, -32px, 23px, 26px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'cosmetic-face', );
$cosmetic-home-name: 'cosmetic-home';
$cosmetic-home-x: 112px;
$cosmetic-home-y: 58px;
$cosmetic-home-offset-x: -112px;
$cosmetic-home-offset-y: -58px;
$cosmetic-home-width: 24px;
$cosmetic-home-height: 23px;
$cosmetic-home-total-width: 136px;
$cosmetic-home-total-height: 122px;
$cosmetic-home-image: '/assets/template/css/sprites/sprite.png';
$cosmetic-home: (112px, 58px, -112px, -58px, 24px, 23px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'cosmetic-home', );
$leaf-name: 'leaf';
$leaf-x: 71px;
$leaf-y: 50px;
$leaf-offset-x: -71px;
$leaf-offset-y: -50px;
$leaf-width: 16px;
$leaf-height: 19px;
$leaf-total-width: 136px;
$leaf-total-height: 122px;
$leaf-image: '/assets/template/css/sprites/sprite.png';
$leaf: (71px, 50px, -71px, -50px, 16px, 19px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'leaf', );
$next-name: 'next';
$next-x: 112px;
$next-y: 0px;
$next-offset-x: -112px;
$next-offset-y: 0px;
$next-width: 24px;
$next-height: 32px;
$next-total-width: 136px;
$next-total-height: 122px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (112px, 0px, -112px, 0px, 24px, 32px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'next', );
$social-instagram-name: 'social__instagram';
$social-instagram-x: 112px;
$social-instagram-y: 81px;
$social-instagram-offset-x: -112px;
$social-instagram-offset-y: -81px;
$social-instagram-width: 17px;
$social-instagram-height: 20px;
$social-instagram-total-width: 136px;
$social-instagram-total-height: 122px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (112px, 81px, -112px, -81px, 17px, 20px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'social__instagram', );
$social-ok-name: 'social__ok';
$social-ok-x: 25px;
$social-ok-y: 102px;
$social-ok-offset-x: -25px;
$social-ok-offset-y: -102px;
$social-ok-width: 12px;
$social-ok-height: 20px;
$social-ok-total-width: 136px;
$social-ok-total-height: 122px;
$social-ok-image: '/assets/template/css/sprites/sprite.png';
$social-ok: (25px, 102px, -25px, -102px, 12px, 20px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'social__ok', );
$social-vk-name: 'social__vk';
$social-vk-x: 0px;
$social-vk-y: 102px;
$social-vk-offset-x: 0px;
$social-vk-offset-y: -102px;
$social-vk-width: 25px;
$social-vk-height: 20px;
$social-vk-total-width: 136px;
$social-vk-total-height: 122px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (0px, 102px, 0px, -102px, 25px, 20px, 136px, 122px, '/assets/template/css/sprites/sprite.png', 'social__vk', );
$spritesheet-width: 136px;
$spritesheet-height: 122px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($adv-1, $adv-2, $adv-3, $arrow-down-red, $arrow-up-red, $carusel-content-left, $carusel-content-right, $check, $cosmetic-face, $cosmetic-home, $leaf, $next, $social-instagram, $social-ok, $social-vk, );
$spritesheet: (136px, 122px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
