// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$adv-1-name: 'adv-1';
$adv-1-x: 88px;
$adv-1-y: 73px;
$adv-1-offset-x: -88px;
$adv-1-offset-y: -73px;
$adv-1-width: 44px;
$adv-1-height: 50px;
$adv-1-total-width: 210px;
$adv-1-total-height: 183px;
$adv-1-image: '/assets/template/css/sprites/sprite.png';
$adv-1: (88px, 73px, -88px, -73px, 44px, 50px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'adv-1', );
$adv-2-name: 'adv-2';
$adv-2-x: 132px;
$adv-2-y: 73px;
$adv-2-offset-x: -132px;
$adv-2-offset-y: -73px;
$adv-2-width: 44px;
$adv-2-height: 44px;
$adv-2-total-width: 210px;
$adv-2-total-height: 183px;
$adv-2-image: '/assets/template/css/sprites/sprite.png';
$adv-2: (132px, 73px, -132px, -73px, 44px, 44px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'adv-2', );
$adv-3-name: 'adv-3';
$adv-3-x: 176px;
$adv-3-y: 0px;
$adv-3-offset-x: -176px;
$adv-3-offset-y: 0px;
$adv-3-width: 34px;
$adv-3-height: 52px;
$adv-3-total-width: 210px;
$adv-3-total-height: 183px;
$adv-3-image: '/assets/template/css/sprites/sprite.png';
$adv-3: (176px, 0px, -176px, 0px, 34px, 52px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'adv-3', );
$arrow-down-red-name: 'arrow-down-red';
$arrow-down-red-x: 133px;
$arrow-down-red-y: 146px;
$arrow-down-red-offset-x: -133px;
$arrow-down-red-offset-y: -146px;
$arrow-down-red-width: 15px;
$arrow-down-red-height: 15px;
$arrow-down-red-total-width: 210px;
$arrow-down-red-total-height: 183px;
$arrow-down-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-down-red: (133px, 146px, -133px, -146px, 15px, 15px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'arrow-down-red', );
$arrow-up-red-name: 'arrow-up-red';
$arrow-up-red-x: 118px;
$arrow-up-red-y: 146px;
$arrow-up-red-offset-x: -118px;
$arrow-up-red-offset-y: -146px;
$arrow-up-red-width: 15px;
$arrow-up-red-height: 15px;
$arrow-up-red-total-width: 210px;
$arrow-up-red-total-height: 183px;
$arrow-up-red-image: '/assets/template/css/sprites/sprite.png';
$arrow-up-red: (118px, 146px, -118px, -146px, 15px, 15px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'arrow-up-red', );
$carusel-content-left-name: 'carusel-content-left';
$carusel-content-left-x: 176px;
$carusel-content-left-y: 52px;
$carusel-content-left-offset-x: -176px;
$carusel-content-left-offset-y: -52px;
$carusel-content-left-width: 24px;
$carusel-content-left-height: 44px;
$carusel-content-left-total-width: 210px;
$carusel-content-left-total-height: 183px;
$carusel-content-left-image: '/assets/template/css/sprites/sprite.png';
$carusel-content-left: (176px, 52px, -176px, -52px, 24px, 44px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'carusel-content-left', );
$carusel-content-right-name: 'carusel-content-right';
$carusel-content-right-x: 176px;
$carusel-content-right-y: 96px;
$carusel-content-right-offset-x: -176px;
$carusel-content-right-offset-y: -96px;
$carusel-content-right-width: 24px;
$carusel-content-right-height: 44px;
$carusel-content-right-total-width: 210px;
$carusel-content-right-total-height: 183px;
$carusel-content-right-image: '/assets/template/css/sprites/sprite.png';
$carusel-content-right: (176px, 96px, -176px, -96px, 24px, 44px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'carusel-content-right', );
$check-name: 'check';
$check-x: 0px;
$check-y: 146px;
$check-offset-x: 0px;
$check-offset-y: -146px;
$check-width: 37px;
$check-height: 37px;
$check-total-width: 210px;
$check-total-height: 183px;
$check-image: '/assets/template/css/sprites/sprite.png';
$check: (0px, 146px, 0px, -146px, 37px, 37px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'check', );
$cosmetic-face-name: 'cosmetic-face';
$cosmetic-face-x: 83px;
$cosmetic-face-y: 146px;
$cosmetic-face-offset-x: -83px;
$cosmetic-face-offset-y: -146px;
$cosmetic-face-width: 23px;
$cosmetic-face-height: 26px;
$cosmetic-face-total-width: 210px;
$cosmetic-face-total-height: 183px;
$cosmetic-face-image: '/assets/template/css/sprites/sprite.png';
$cosmetic-face: (83px, 146px, -83px, -146px, 23px, 26px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'cosmetic-face', );
$cosmetic-home-name: 'cosmetic-home';
$cosmetic-home-x: 88px;
$cosmetic-home-y: 123px;
$cosmetic-home-offset-x: -88px;
$cosmetic-home-offset-y: -123px;
$cosmetic-home-width: 24px;
$cosmetic-home-height: 23px;
$cosmetic-home-total-width: 210px;
$cosmetic-home-total-height: 183px;
$cosmetic-home-image: '/assets/template/css/sprites/sprite.png';
$cosmetic-home: (88px, 123px, -88px, -123px, 24px, 23px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'cosmetic-home', );
$ico-beauty-name: 'ico-beauty';
$ico-beauty-x: 0px;
$ico-beauty-y: 73px;
$ico-beauty-offset-x: 0px;
$ico-beauty-offset-y: -73px;
$ico-beauty-width: 88px;
$ico-beauty-height: 73px;
$ico-beauty-total-width: 210px;
$ico-beauty-total-height: 183px;
$ico-beauty-image: '/assets/template/css/sprites/sprite.png';
$ico-beauty: (0px, 73px, 0px, -73px, 88px, 73px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'ico-beauty', );
$ico-health-name: 'ico-health';
$ico-health-x: 88px;
$ico-health-y: 0px;
$ico-health-offset-x: -88px;
$ico-health-offset-y: 0px;
$ico-health-width: 88px;
$ico-health-height: 73px;
$ico-health-total-width: 210px;
$ico-health-total-height: 183px;
$ico-health-image: '/assets/template/css/sprites/sprite.png';
$ico-health: (88px, 0px, -88px, 0px, 88px, 73px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'ico-health', );
$ico-weight-name: 'ico-weight';
$ico-weight-x: 0px;
$ico-weight-y: 0px;
$ico-weight-offset-x: 0px;
$ico-weight-offset-y: 0px;
$ico-weight-width: 88px;
$ico-weight-height: 73px;
$ico-weight-total-width: 210px;
$ico-weight-total-height: 183px;
$ico-weight-image: '/assets/template/css/sprites/sprite.png';
$ico-weight: (0px, 0px, 0px, 0px, 88px, 73px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'ico-weight', );
$leaf-name: 'leaf';
$leaf-x: 154px;
$leaf-y: 123px;
$leaf-offset-x: -154px;
$leaf-offset-y: -123px;
$leaf-width: 16px;
$leaf-height: 19px;
$leaf-total-width: 210px;
$leaf-total-height: 183px;
$leaf-image: '/assets/template/css/sprites/sprite.png';
$leaf: (154px, 123px, -154px, -123px, 16px, 19px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'leaf', );
$next-name: 'next';
$next-x: 37px;
$next-y: 146px;
$next-offset-x: -37px;
$next-offset-y: -146px;
$next-width: 24px;
$next-height: 32px;
$next-total-width: 210px;
$next-total-height: 183px;
$next-image: '/assets/template/css/sprites/sprite.png';
$next: (37px, 146px, -37px, -146px, 24px, 32px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'next', );
$pdf-name: 'pdf';
$pdf-x: 61px;
$pdf-y: 146px;
$pdf-offset-x: -61px;
$pdf-offset-y: -146px;
$pdf-width: 22px;
$pdf-height: 28px;
$pdf-total-width: 210px;
$pdf-total-height: 183px;
$pdf-image: '/assets/template/css/sprites/sprite.png';
$pdf: (61px, 146px, -61px, -146px, 22px, 28px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'pdf', );
$social-instagram-name: 'social__instagram';
$social-instagram-x: 137px;
$social-instagram-y: 123px;
$social-instagram-offset-x: -137px;
$social-instagram-offset-y: -123px;
$social-instagram-width: 17px;
$social-instagram-height: 20px;
$social-instagram-total-width: 210px;
$social-instagram-total-height: 183px;
$social-instagram-image: '/assets/template/css/sprites/sprite.png';
$social-instagram: (137px, 123px, -137px, -123px, 17px, 20px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'social__instagram', );
$social-ok-name: 'social__ok';
$social-ok-x: 106px;
$social-ok-y: 146px;
$social-ok-offset-x: -106px;
$social-ok-offset-y: -146px;
$social-ok-width: 12px;
$social-ok-height: 20px;
$social-ok-total-width: 210px;
$social-ok-total-height: 183px;
$social-ok-image: '/assets/template/css/sprites/sprite.png';
$social-ok: (106px, 146px, -106px, -146px, 12px, 20px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'social__ok', );
$social-vk-name: 'social__vk';
$social-vk-x: 112px;
$social-vk-y: 123px;
$social-vk-offset-x: -112px;
$social-vk-offset-y: -123px;
$social-vk-width: 25px;
$social-vk-height: 20px;
$social-vk-total-width: 210px;
$social-vk-total-height: 183px;
$social-vk-image: '/assets/template/css/sprites/sprite.png';
$social-vk: (112px, 123px, -112px, -123px, 25px, 20px, 210px, 183px, '/assets/template/css/sprites/sprite.png', 'social__vk', );
$spritesheet-width: 210px;
$spritesheet-height: 183px;
$spritesheet-image: '/assets/template/css/sprites/sprite.png';
$spritesheet-sprites: ($adv-1, $adv-2, $adv-3, $arrow-down-red, $arrow-up-red, $carusel-content-left, $carusel-content-right, $check, $cosmetic-face, $cosmetic-home, $ico-beauty, $ico-health, $ico-weight, $leaf, $next, $pdf, $social-instagram, $social-ok, $social-vk, );
$spritesheet: (210px, 183px, '/assets/template/css/sprites/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
