//= include/header-new.html

<script>
    document.title = 'MIRACLETOX – страница компонента';
</script>

<div class="innerslider fly-menu-goto">
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/cosmetics/product-dermavax.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            MIRACLETOX – страница компонента
                        </div>
                        <a class="innerslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/events/slide-1-gray.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Второй <br />слайд
                        </div>
                        <a class="innerslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="row">

    <div class="content-fly-menu">

        <div class="product-top row">
            <div class="product-photos">
                <div class="product-photos__main">
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                </div>
                <div class="product-photos__preview">
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h1 class="header1">Sept-Îles detention facility recognised for its sustainable development efforts</h1>
                <div class="product-property">
                    <div class="product-property__item">
                        <div class="product-property__key">Состав:</div>
                        <div class="product-property__value">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tion ullamco laboris nisi ut aliquip ex ea com
                        </div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Срок годности:</div>
                        <div class="product-property__value">12 месяцев</div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Объем:</div>
                        <div class="product-property__value">40 г.</div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Применение:</div>
                        <div class="product-property__value">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="product-actions">
                    <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Информация</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </a>
                    <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Сертификаты</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </a>
                </div>
            </div>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

        <div class="carusel carusel-products-fly">
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
        </div>


        <h2>Sept-Îles detention facility recognised for its sustainable development efforts</h2>
        <p class="intro">Pomerleau is pleased to announce that it is investing in innovation to bring new business practices to market that will enhance quality in the construction industry across Canada. Pomerleau’s investment will enable it to efficiently prequalify trade partners. The prequalification of trade partners is a common practice across North America, but a relatively new one in the province of Quebec.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

        <div class="carusel carusel-products-fly">
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
            <div class="carusel__item">
                <a href="#">
                    <div class="products__card">
                        <div class="products__image" style="background-image: url('/assets/template/img/tmp/carusel-product-1.jpg')">
                        </div>
                        <div class="products__name">
                            Название
                        </div>
                        <div class="products__anons">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <p>Pomerleau is pleased to announce that it is investing in innovation to bring new business practices to market that will enhance quality in the construction industry across Canada. Pomerleau’s investment will enable it to efficiently prequalify trade partners. The prequalification of trade partners is a common practice across North America, but a relatively new one in the province of Quebec.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>


        <div class="category-form">
            <div class="category-form__caption">Заявка на посещение салона</div>
            <form action="" class="row">
                <div class="category-form__left columns">
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш телефон">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше email">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш город">
                    </div>
                </div>
                <div class="category-form__center columns">
                    <div class="category-form__item">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                    </div>
                </div>
                <div class="category-form__right columns">
                    <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Отправить</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="fly-menu">

        <ul class="fly-menu__product-list">
            <li class="fly-menu__product-item first">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Общая информация <br />(все наборы)
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 1
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 2
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 3
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 4
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 5
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 6
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 7
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Набор 8
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item">
                <a href="#" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Сертификаты
                    </div>
                </a>
            </li>

        </ul>
    </div>


</div>


//= include/footer-new.html