//= include/header.html

<div class="contacts__header">
    <div class="header__inside">
        <div class="container">
            <h1 class="header-title">Контакты</h1>
            <div class="row">
                <div class="columns contacts__left">
                    <div class="contacts__caption">Головной офис</div>
                    <div class="row">
                        <div class="contacts__address columns">
                            <div class="contacts__subcaption">
                                Адрес головного офиса:
                            </div>
                            <div class="contacts__value">
                                Россия, г. Санкт-Петербург ул. Марата, д. 69-71, литер А,
                                RENAISSANCE PLAZA
                            </div>
                        </div>
                        <div class="contacts__phone columns">
                            <div class="contacts__subcaption">
                                Телефон
                            </div>
                            <div class="contacts__value">
                                <span class="contacts__phone-number">8 800-770-08-55</span>
                            </div>
                        </div>
                        <div class="contacts__email columns">
                            <div class="contacts__subcaption">
                                Почта
                            </div>
                            <div class="contacts__value">
                                <a href="mailto:info@jetfixpro.com">info@jetfixpro.com</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="columns contacts__right">
                    <div class="contacts__caption">Перезвоните мне</div>
                </div>
            </div>
        </div>
    </div>
</div>

//= include/footer.html