//= include/header.html

<div class="contacts__header">
    <div class="header__inside">
        <div class="container">
            <h1 class="header-title">Контакты</h1>
            <div class="row">
                <div class="columns contacts__left">
                    <div class="contacts__caption">Головной офис</div>
                    <div class="row">
                        <div class="contacts__address columns">
                            <div class="contacts__subcaption">
                                Адрес головного офиса:
                            </div>
                            <div class="contacts__value">
                                Россия, г. Санкт-Петербург ул. Марата, д. 69-71, литер А,
                                RENAISSANCE PLAZA
                            </div>
                        </div>
                        <div class="contacts__phone columns">
                            <div class="contacts__subcaption">
                                Телефон
                            </div>
                            <div class="contacts__value">
                                <span class="contacts__phone-number">8 800-770-08-55</span>
                            </div>
                        </div>
                        <div class="contacts__email columns">
                            <div class="contacts__subcaption">
                                Почта
                            </div>
                            <div class="contacts__value">
                                <a href="mailto:info@jetfixpro.com">info@jetfixpro.com</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="columns contacts__right">
                    <div class="contacts__caption">Перезвоните мне</div>
                    <div class="contacts-forma row">
                        <div class="contacts-forma__left columns">
                            <input type="text" placeholder="Ваше имя">
                            <input type="text" placeholder="Ваш телефон">
                            <input type="text" placeholder="Ваш e-mail">
                        </div>
                        <div class="contacts-forma__right columns">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="o-container-map">
    <div class="map-contacts">
        <img class="map-image" src="/assets/images/map.png" alt="" />
        <div class="map-info">
            <div class="map-info__logo">
                <img class="bottom-logo" src="/assets/images/logo-white.png" alt="">
            </div>
            <div class="map-info__phones">
                <div class="map-info__phone">
                    <a href="#">8 (800) 555-27-65</a>
                </div>
                <div class="map-info__phone">
                    <a href="#">8 (800) 555-27-65</a>
                </div>
            </div>
            <div class="map-info__social">
                Мы в соц сетях: <a class="fa fa-facebook" href="#"></a> <a class="fa fa-instagram" href="#"></a> <a class="fa fa-vk" href="#"></a>
            </div>
        </div>
        <div class="map-info__markers">
            <div class="marker marker map-info__marker map-info__marker_barnaul" data-info='{"type":"Головной офис", "address":"г. Барнаул, ул. Строителей 15","phone":"8 (800) 555-27-65"}'" data-phone=""></div>
        <div class="marker map-info__marker map-info__marker_moscow" data-info='{"type":"Офис", "address":"г. Москва, ул. Мира 28","phone":"8 (800) 555-27-65"}'"></div>
</div>
<div class="marker-info">
    <div class="marker-info__logo"><img src="/assets/images/logo-white.png" alt=""></div>
    <div class="marker-info__address">
        <span class="address__type">Головной офис:</span> <span class="address__text">г.Барнаул, ул.Строителей 15</span>
    </div>
    <div class="marker-info__phone">8 (800) 555-27-65</div>
</div>

//= include/footer.html