//= include/header-new.html

<div class="content__wrap">
    <div class="container">
        <div class="category__list row">

            <div class="category__item columns">
                <div class="category__card category__card--medium" style="background-image: url('/assets/template/img/cosmetics/dermavax.jpg')">
                    <a href="/dermavax.html" class="category__link">
                        <div class="category__title cosmetic--face">
                            Dermavax
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns">
                <div class="category__card category__card--medium" style="background-image: url('/assets/template/img/cosmetics/miracletox.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--home">
                            MiracleTOX
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns">
                <div class="category__card category__card--big" style="background-image: url('/assets/template/img/cosmetics/beauco.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--face">
                            BeauCo
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns">
                <div class="category__card category__card--small" style="background-image: url('/assets/template/img/cosmetics/dragent.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--face">
                            Dr.Agent
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns">
                <div class="category__card category__card--small" style="background-image: url('/assets/template/img/cosmetics/vialama.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--home">
                            ViaLama
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</div>

//= include/footer-new.html