//= include/header-new.html

<script>
    document.title = 'Dr Agent';
</script>

<div class="innerslider fly-menu-goto">
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/cosmetics/product-dragent.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Dr Agent
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/events/slide-1-gray.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Второй <br />слайд
                        </div>
                        <a class="innerslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="row">

    <div class="content-product container">
        <div class="product-top row">
            <div class="product-photos">
                <div class="product-photos__main">
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__main-1.jpg" alt="">
                    </div>
                </div>
                <div class="product-photos__preview">
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                    <div>
                        <img src="/assets/template/img/tmp/product-photos__prev-1.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="product-info">
                <h1 class="header1">Sept-Îles detention facility recognised for its sustainable development efforts</h1>
                <div class="product-property">
                    <div class="product-property__item">
                        <div class="product-property__key">Состав:</div>
                        <div class="product-property__value">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. tion ullamco laboris nisi ut aliquip ex ea com
                        </div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Срок годности:</div>
                        <div class="product-property__value">12 месяцев</div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Объем:</div>
                        <div class="product-property__value">40 г.</div>
                    </div>
                    <div class="product-property__item">
                        <div class="product-property__key">Применение:</div>
                        <div class="product-property__value">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <div class="product-actions">
                    <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Информация</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </a>
                    <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Сертификаты</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </a>
                </div>
            </div>
        </div>

        <div class="stext">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        </div>


        <div class="category-form">
            <div class="category-form__caption">Отправить заявку на приобретение</div>
            <form action="" class="row">
                <div class="category-form__left columns">
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш телефон">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше email">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш город">
                    </div>
                </div>
                <div class="category-form__center columns">
                    <div class="category-form__item">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Ваше сообщение"></textarea>
                    </div>
                </div>
                <div class="category-form__right columns">
                    <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Отправить</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </button>
                </div>
            </form>
        </div>

    </div>



</div>


//= include/footer-new.html