//= include/header-new.html

<script>
    document.title = 'Вопрос-ответ внутренняя';
</script>
<div class="fly-menu-goto"></div>

<div class="row">

    <div class="content-fly-menu">

        <h1 class="header1">Sept-Îles detention facility recognised for its sustainable development efforts</h1>
        <p>The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and functional requirements, recently received LEED® certification. This underscores Pomerleau's commitment to its clients who want to adopt environmentally-friendly approaches to achieve their sustainable infrastructure goals.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>

        <div class="category-form">
            <div class="category-form__caption">Задать вопрос</div>
            <form action="" class="row">
                <div class="category-form__left columns">
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше имя">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш телефон">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваше email">
                    </div>
                    <div class="category-form__item">
                        <input type="text" placeholder="Ваш город">
                    </div>
                </div>
                <div class="category-form__center columns">
                    <div class="category-form__item">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Ваш вопрос"></textarea>
                    </div>
                </div>
                <div class="category-form__right columns">
                    <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                        <span class="o-button_label">Отправить</span>
                        <div class="o-button_line"></div>
                        <div class="o-button_line"></div>
                    </button>
                </div>
            </form>
        </div>

    </div>

    <div class="fly-menu">

        <ul class="faq-menu">
            <li class="faq-menu--health open fly-menu__toggle"><a href="#">Здоровье</a>
                <ul>
                    <li><a href="#">Как называется компания? Выразите пожелания относительно логотипа.</a></li>
                    <li><a href="#">Имеется ли продуктовая фотосессия(если нет, то она необходима). Фотосессия каждого продукта представленного на сайте</a></li>
                    <li><a href="#">Какие преимущества получает новый партнер (дистрибьютор) от сотрудничества?</a></li>
                </ul>
            </li>
            <li class="faq-menu--weight fly-menu__toggle">
                <a href="#">Похудение</a>
                <ul>
                    <li><a href="#">Как называется компания? Выразите пожелания относительно логотипа.</a></li>
                    <li><a href="#">Имеется ли продуктовая фотосессия(если нет, то она необходима). Фотосессия каждого продукта представленного на сайте</a></li>
                    <li><a href="#">Какие преимущества получает новый партнер (дистрибьютор) от сотрудничества?</a></li>
                </ul>
            </li>
            <li class="faq-menu--beauty fly-menu__toggle">
                <a href="#">Косметика</a>
                <ul>
                    <li><a href="#">Как называется компания? Выразите пожелания относительно логотипа.</a></li>
                </ul>
            </li>
        </ul>
    </div>


</div>


//= include/footer-new.html