//= include/header-new.html

<script>
    document.title = 'Вопросы компании';
</script>


<div class="content__wrap">
    <div class="container">
        <div class="faq-page">

            <div class="faq__list row">

                <div class="faq__item faq__item--1 faq__item--health columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            <a href="/faq-item.html">Как называется компания?<br />
                                Выразите пожелания относительно логотипа.</a>
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--2 faq__item--health columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Имеется ли продуктовая фотосессия(если нет, то она необходима). Фотосессия каждого продукта представленного на сайте
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--3 faq__item--weight columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Какие преимущества получает новый партнер (дистрибьютор)
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--4 faq__item--weight columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Какие преимущества получает новый партнер (дистрибьютор)
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--5 faq__item--weight columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Какие преимущества получает новый партнер (дистрибьютор)
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--6 faq__item--big faq__item--beauty columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Какие преимущества получает новый партнер (дистрибьютор)
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--7 faq__item--beauty columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Как называется компания?<br />
                            Выразите пожелания относительно логотипа.
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>

                <div class="faq__item faq__item--8 faq__item--beauty columns">
                    <div class="faq__card">
                        <div class="faq__question">
                            Как называется компания?<br />
                            Выразите пожелания относительно логотипа.
                        </div>
                        <div class="faq__answer">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>


//= include/footer-new.html