//= include/header-new.html



                <div class="mainslider">
                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide1.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide2.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика 2 слайд
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide1.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика 3 слайд
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide2.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика 4 слайд
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide1.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика 5 слайд
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div>
                        <div class="mainslider__item">
                            <div class="mainslider__image-box" style="background-image: url('/assets/images/slider/slide2.jpg')"></div>
                            <div class="c-header-home_text-load">
                                <div class="mainslider__wrap container js-parallax">
                                    <div class="mainslider__text">
                                        <div class="mainslider__header">
                                            Косметика 6 слайд
                                        </div>
                                        <a class="mainslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                                        </a>
                                        <div class="mainslider__controls">
                                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                                <button class="o-button -white -square -left mainslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                                </button>
                                                <button class="o-button -white -square mainslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </div> <!--/mainslider-->


                <div class="o-wrap previewer__wrapper">
                    <div class="previewer">
                        <div class="previewer__item">
                            <img src="/assets/template/img/preview/logo-1.jpg" alt="">
                        </div>
                        <div class="previewer__item">
                            <img src="/assets/template/img/preview/logo-2.jpg" alt="">
                        </div>
                        <div class="previewer__item">
                            <img src="/assets/template/img/preview/logo-3.jpg" alt="">
                        </div>
                        <div class="previewer__item">
                            <img src="http://placehold.it/144x78" alt="">
                        </div>
                        <div class="previewer__item">
                            <img src="http://placehold.it/144x78" alt="">
                        </div>
                        <div class="previewer__item">
                            <img src="http://placehold.it/144x78" alt="">
                        </div>
                    </div>
                </div>

                <main>


                    <!-- <div class="c-home-background js-parallax" data-target="#js-action"></div> -->

                    <header class="c-header-home -full" data-module="SliderHome" id="js-header">

                        <article class="c-header-home_section is-current js-slider-home-slide" data-slide="1">
                            <div class="c-header-home_background-parallax o-background js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                                <div class="c-header-home_background-load-wrap o-background">
                                    <div class="c-header-home_background-load o-background">
                                        <div class="c-header-home_background-wrap o-background">
                                            <div class="c-header-home_background o-background">
                                                <div class="c-header-home_image-wrap o-background">
                                                    <div class="c-header-home_image o-background" style="background-image: url('uploads/sections/Buildings_HOMECOVER.jpg');"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-header-home_text-load">
                                <div class="c-header-home_text">
                                    <div class="c-header-home_container o-container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                                        <h1 class="c-header-home_heading -full">L'innovation est un rêve bien pensé </h1>
                                        <a class="c-header-home_subheading -load o-hsub -link" href="#">
                                            <span class="o-hsub_label">Découvrir  BIM-VDC</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="c-header-home_section is-next js-slider-home-slide" data-slide="2">
                            <div class="c-header-home_background-parallax o-background js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                                <div class="c-header-home_background-load-wrap o-background">
                                    <div class="c-header-home_background-load o-background">
                                        <div class="c-header-home_background-wrap o-background">
                                            <div class="c-header-home_background o-background">
                                                <div class="c-header-home_image-wrap o-background">
                                                    <div class="c-header-home_image o-background" style="background-image: url('uploads/sections/cover_qualite.jpg');"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-header-home_text-load">
                                <div class="c-header-home_text">
                                    <div class="c-header-home_container o-container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                                        <h1 class="c-header-home_heading -full">Comprendre pour entreprendre </h1>
                                        <a class="c-header-home_subheading -load o-hsub -link" href="#">
                                            <span class="o-hsub_label">La qualité chez Pomerleau</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="c-header-home_section is-next js-slider-home-slide" data-slide="3">
                            <div class="c-header-home_background-parallax o-background js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                                <div class="c-header-home_background-load-wrap o-background">
                                    <div class="c-header-home_background-load o-background">
                                        <div class="c-header-home_background-wrap o-background">
                                            <div class="c-header-home_background o-background">
                                                <div class="c-header-home_image-wrap o-background">
                                                    <div class="c-header-home_image o-background" style="background-image: url('uploads/sections/bim-homecover.jpg');"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-header-home_text-load">
                                <div class="c-header-home_text">
                                    <div class="c-header-home_container o-container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                                        <h1 class="c-header-home_heading -full">Créer des espaces pour vivre et travailler</h1>
                                        <a class="c-header-home_subheading -load o-hsub -link" href="#">
                                            <span class="o-hsub_label">Découvrir</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="c-header-home_section is-prev js-slider-home-slide" data-slide="4">
                            <div class="c-header-home_background-parallax o-background js-parallax" data-speed="-1" data-position="top" data-target="#js-header">
                                <div class="c-header-home_background-load-wrap o-background">
                                    <div class="c-header-home_background-load o-background">
                                        <div class="c-header-home_background-wrap o-background">
                                            <div class="c-header-home_background o-background">
                                                <div class="c-header-home_image-wrap o-background">
                                                    <div class="c-header-home_image o-background" style="background-image: url('uploads/sections/homeslider-civils.jpg');"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="c-header-home_text-load">
                                <div class="c-header-home_text">
                                    <div class="c-header-home_container o-container js-parallax" data-speed="2" data-position="top" data-target="#js-header">
                                        <h1 class="c-header-home_heading -full">Des outils pour la collectivité </h1>
                                        <a class="c-header-home_subheading -load o-hsub -link" href="#">
                                            <span class="o-hsub_label">Découvrir la division Civil & Infrastructure</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>


                        <div class="c-header-home_footer">
                            <div class="o-container">
                                <div class="c-header-home_controls -nomobile o-button-group">
                                    <div class="js-parallax" data-speed="1" data-position="top" data-target="#js-header">
                                        <button class="o-button -white -square -left js-slider-home-button js-slider-home-prev" type="button">
						<span class="o-button_label">
							<svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"></use></svg>
						</span>
                                        </button>
                                        <button class="o-button -white -square js-slider-home-button js-slider-home-next" type="button">
						<span class="o-button_label">
							<svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"></use></svg>
						</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="c-header-home_buttons o-button-group">
                                    <div class="js-parallax" data-speed="0.5" data-position="top" data-target="#js-header">
                                        <a class="c-header-home_button o-button -white -left" data-route-option="keep-header" href="/fr/1/civil-infrastructure">
                                            <span class="o-button_label">Civil et Infrastructure</span>
                                        </a>
                                        <a class="c-header-home_button o-button -white" data-route-option="keep-header" href="/fr/2/batiments">
                                            <span class="o-button_label">Bâtiments</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>

                    <div class="c-home">
                        <div class="o-container-2">
                            <div class="cms-bg-overlay"></div>
                            <div class="container">
                                <div class="category__main">
                                    <div class="row">
                                        <div class="category__big" style="background-image: url('/assets/images/losing.jpg')">
                                            <div class="category__info">
                                                <div class="category__caption">Похудение</div>
                                                <div class="category__text">
                                                    <br /><br /><br /><!--Текст про похудение текст про похудение текст про похудение текст про похудение текст про похудение. Текст про похудение текст про похудение текст про похудение текст про похудение текст про похудение.-->
                                                </div>
                                                <div class="category__action">
                                                    <a class="o-button o-button-white -width -anim js-parallax  js-debug is-inview" href="/losingweight.html">
                                                        <span class="o-button_label">Подробнее</span>
                                                        <div class="o-button_line"></div>
                                                        <div class="o-button_line"></div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row category__group">
                                        <div class="columns category__health wow js-parallax">
                                            <div class="category-small" style="background-image: url('/assets/images/category__health.jpg')">
                                                <a class="category__link" href="#">
                                                    <div class="category__name">Здоровье</div>
                                                </a>
                                            </div>
                                            <div class="category-small__info">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <br /><br /><br /><!--Текст про здоровье текст про здоровье текст про здоровье текст про здоровье. Текст про здоровье текст про здоровье текст про здоровье текст про здоровье.-->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="category__button">
                                                            <a class="grand-button" href="#">
                                                                <span class="grand-button_label">Подробнее</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="columns category__cosmetic wow js-parallax">
                                            <div class="category-small " style="background-image: url('/assets/images/category__cosmetics.jpg')">
                                                <a class="category__link" href="/cosmetics.html">
                                                    <div class="category__name">Косметика</div>
                                                </a>
                                            </div>
                                            <div class="category-small__info">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <br /><br /><br /><!-- Текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст. -->
                                                    </div>
                                                    <div class="col-md-5">
                                                        <div class="category__button">
                                                            <a class="grand-button" href="/cosmetics.html"">
                                                                <span class="grand-button_label">Подробнее</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                        <div class="o-container-about">
                            <!-- <div class="container"> -->
                            <div class="row">
                                <div class="columns about-text">
                                    <div class="about-text__box">
                                        <div class="header1">Информация о компании</div>
                                        <p>.<br />.<br />.<br />.</p>
                                        <p>.<br />.<br />.<br />.</p>
                                    </div>
                                    <div class="about-menu">
                                        <ul>
                                            <li><a href="/about.html">О компании</a></li>
                                            <li><a href="#">Стать партнером</a></li>
                                            <li><a href="/training.html">Обучение</a></li>
                                            <li><a href="/faq.html">Задать вопрос</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="columns about-logos">
                                    <div class="about__header">
                                        <img src="/assets/images/logo-diamond.png" alt="">
                                    </div>
                                    <div class="logos">
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                        <div class="logos__item">
                                            <img src="http://placehold.it/166x91" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="o-container-events">
                            <div class="header-block">Последние события</div>
                            <div class="events__wrapper eventslider">

                                <div class="events__item">
                                    <div class="events__image" style="background-image: url('/temp/news-1.jpg')"></div>
                                    <div class="events__info">
                                        <div class="events__caption">...</div>
                                        <div class="events__date">24 июня 2017</div>
                                        <div class="events__intro">
                                            <br /><br /><br /><!--Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.-->
                                        </div>
                                        <div class="events__readmore">
                                            <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#">
                                                <span class="o-button_label">Подробнее</span>
                                                <div class="o-button_line"></div>
                                                <div class="o-button_line"></div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="events__item">
                                    <div class="events__image" style="background-image: url('/temp/news-2.jpg')"></div>
                                    <div class="events__info">
                                        <div class="events__caption">...</div>
                                        <div class="events__date">24 июня 2017</div>
                                        <div class="events__intro">
                                            <br /><br /><br /><!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. -->
                                        </div>
                                        <div class="events__readmore">
                                            <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#">
                                                <span class="o-button_label">Подробнее</span>
                                                <div class="o-button_line"></div>
                                                <div class="o-button_line"></div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="events__item">
                                    <div class="events__image" style="background-image: url('/temp/news-3.jpg')"></div>
                                    <div class="events__info">
                                        <div class="events__caption">...</div>
                                        <div class="events__date">24 июня 2017</div>
                                        <div class="events__intro">
                                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. -->
                                        </div>
                                        <div class="events__readmore">
                                            <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#">
                                                <span class="o-button_label">Подробнее</span>
                                                <div class="o-button_line"></div>
                                                <div class="o-button_line"></div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                                <div class="events__item">
                                    <div class="events__image" style="background-image: url('/temp/news-2.jpg')"></div>
                                    <div class="events__info">
                                        <div class="events__caption">...</div>
                                        <div class="events__date">24 июня 2017</div>
                                        <div class="events__intro">
                                            <!-- Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat. -->
                                        </div>
                                        <div class="events__readmore">
                                            <a class="o-button -width -anim js-parallax  js-debug is-inview" href="#">
                                                <span class="o-button_label">Подробнее</span>
                                                <div class="o-button_line"></div>
                                                <div class="o-button_line"></div>
                                            </a>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="o-container-map">
                            <div class="map-contacts">
                                <img class="map-image" src="/assets/images/map.png" alt="" />
                                <div class="map-info">
                                    <div class="map-info__logo">
                                        <img class="bottom-logo" src="/assets/images/logo-white.png" alt="">
                                    </div>
                                    <div class="map-info__phones">
                                        <div class="map-info__phone">
                                            <a href="#">8 (800) 555-27-65</a>
                                        </div>
                                        <div class="map-info__phone">
                                            <a href="#">8 (800) 555-27-65</a>
                                        </div>
                                    </div>
                                    <div class="map-info__social">
                                        Мы в соц сетях: <a class="fa fa-facebook" href="#"></a> <a class="fa fa-instagram" href="#"></a> <a class="fa fa-vk" href="#"></a>
                                    </div>
                                </div>
                                <div class="map-info__markers">
                                    <div class="marker marker map-info__marker map-info__marker_barnaul" data-info='{"type":"Головной офис", "address":"г. Барнаул, ул. Строителей 15","phone":"8 (800) 555-27-65"}'" data-phone=""></div>
                                <div class="marker map-info__marker map-info__marker_moscow" data-info='{"type":"Офис", "address":"г. Москва, ул. Мира 28","phone":"8 (800) 555-27-65"}'"></div>
                        </div>
                        <div class="marker-info">
                            <div class="marker-info__logo"><img src="/assets/images/logo-white.png" alt=""></div>
                            <div class="marker-info__address">
                                <span class="address__type">Головной офис:</span> <span class="address__text">г.Барнаул, ул.Строителей 15</span>
                            </div>
                            <div class="marker-info__phone">8 (800) 555-27-65</div>
                        </div>

                    </div>
            </div>



            </main>




//= include/footer-new.html