//= include/header-new.html

<script>
    document.title = 'JetFixPro diet';
</script>

<div class="innerslider fly-menu-goto">
    <div>
        <div class="innerslider__item innerslider__item--noverlay">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/tmp/product-jetfixpro-overlay.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            JetFixPro diet
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/events/slide-1-gray.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Второй <br />слайд
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="row">

    <div class="content-fly-menu">

        <h1 class="header1">Биологически активный комплекс JetFixPro Diet</h1>
        <p>Революционный подход к снижению веса без дополнительных физических нагрузок</p>

        <div class="product-cards__list row">
            <div class="product-cards__item columns">
                <a href="#" class="product-cards__link">
                <div class="product-cards__card">
                    <div class="product-cards__image" style="background-image: url('/assets/template/img/tmp/product-cards-1.png');"></div>
                    <div class="product-cards__name">
                        Diet
                    </div>
                    <div class="product-cards__anons">
                        Diet – спрей. JetFixPro Diet является дополнительным источником фукоидана, который совместно с другими компонентами препарата стимулирует обмен веществ в организме, расщепляя лишние жировые отложения, тем самым способствуя снижению веса.
                    </div>
                </div>
                </a>
            </div>
            <div class="product-cards__item columns">
                <a href="#" class="product-cards__link">
                <div class="product-cards__card">
                    <div class="product-cards__image" style="background-image: url('/assets/template/img/tmp/product-cards-2.png');"></div>
                    <div class="product-cards__name">
                        Green Tea
                    </div>
                    <div class="product-cards__anons">
                        Green Tea – капсулы. Сбрасывая вес, организм одновременно очищает себя от всех шлаков и токсинов из расщепленных жировых отложений. Принимая JetFixPro Green Tea, организм будет дополнительно снабжаться мощнейшими антиоксидантами. Они защищают клетки от вредных влияний, а также помогают выращивать новые и повышать жизненную энергию.
                    </div>
                </div>
                </a>
            </div>
            <div class="product-cards__item columns">
                <a href="#" class="product-cards__link">
                <div class="product-cards__card">
                    <div class="product-cards__image" style="background-image: url('/assets/template/img/tmp/product-cards-3.png');"></div>
                    <div class="product-cards__name">
                        Chloridex
                    </div>
                    <div class="product-cards__anons">
                        Chloridex – капсулы. На протяжении всего процесса снижения веса рекомендуются к приему препараты, являющиеся дополнительным источником белка в качестве общеукрепляющего средства. Богатыми источниками белка являются одноклеточные водоросли хлорелла.
                    </div>
                </div>
                </a>
            </div>
            <div class="product-cards__item columns">
                <a href="#" class="product-cards__link">
                <div class="product-cards__card">
                    <div class="product-cards__image" style="background-image: url('/assets/template/img/tmp/product-cards-4.png');"></div>
                    <div class="product-cards__name">
                        Laxicon
                    </div>
                    <div class="product-cards__anons">
                        Laxicon – капсулы. При похудении достаточно частым явлением является запор, когда опорожнение кишечника происходит реже, чем через 48 часов, либо Вы испытываете чувство «неудовлетворённости». Отличное решение проблемы – принимать JetFixPro Laxicon. Растительные компоненты и магний, входящие в состав JetFixPro Laxicon, поддерживают функцию ЖКТ.
                    </div>
                </div>
                </a>
            </div>
        </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>






    </div>

    <div class="fly-menu">

        <ul class="fly-menu__product-list">
            <li class="fly-menu__product-item first ">
                <a href="/chungwoo.html" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        CHUNGWOO
                    </div>
                </a>
            </li>
            <li class="fly-menu__product-item active">
                <a href="/gel.html" class="fly-menu__product-link">
                    <div class="fly-menu__product-name">
                        Гель
                    </div>
                </a>
            </li>



        </ul>
    </div>


</div>


//= include/footer-new.html