//= include/header-new.html

<script>
    document.title = 'Раздел похудение';
</script>

<div class="content__wrap">
    <div class="container">
        <div class="category__list row">

            <div class="category__item columns category__item--width category__item--noverlay">
                <div class="category__card category__card" style="background-image: url('/assets/template/img/losingweight/chungwoo.jpg')">
                    <a href="/chungwoo.html" class="category__link">
                        <div class="category__title cosmetic--home">
                            CHUNGWOO
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns category__item--big category__item--noverlay">
                <div class="category__card category__card--medium" style="background-image: url('/assets/template/img/losingweight/jetfixpro.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--home">
                            JetFixPro
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>

            <div class="category__item columns category__item--big category__item--noverlay">
                <div class="category__card category__card--medium" style="background-image: url('/assets/template/img/losingweight/jetfixproafterdiet.jpg')">
                    <a href="#" class="category__link">
                        <div class="category__title cosmetic--home">
                            JetFixPro After diet
                        </div>
                        <div class="category__descr">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                        </div>
                    </a>
                </div>
            </div>



        </div>
    </div>
</div>

//= include/footer-new.html