//= include/header-new.html

<script>
    document.title = 'Партнерам';
</script>

<div class="innerslider fly-menu-goto">
    <div>
        <div class="innerslider__item innerslider__item--noverlay">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/partners/map.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            действующие представительства
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="row">


    <div class="content-fly-menu">
        <div class="header1">Sept-Îles detention facility recognised for its sustainable development efforts</div>
        <p class="intro">The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and functional requirements, recently received LEED® certification. This underscores Pomerleau's commitment to its clients who want to adopt environmentally-friendly approaches to achieve their sustainable infrastructure goals. </p>

        <div class="content-logos">
            <div class="logos">
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
                <div class="logos__item">
                    <img src="http://placehold.it/166x91" alt="">
                </div>
            </div>
        </div>


        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>


    </div>

    <div class="fly-menu">
        <div class="fly-menu__caption">Cтать партнером</div>
        <div class="fly-menu__hint">Станьте партнером нашей компании!</div>
        <div class="fly-menu__form">
            <div class="fly-menu__form-item">
                <input type="text" name="name" placeholder="Ваше имя" />
            </div>
            <div class="fly-menu__form-item">
                <input type="text" name="phone" placeholder="Ваш телефон" />
            </div>
            <div class="fly-menu__form-item">
                <input type="text" name="email" placeholder="Ваш email" />
            </div>
            <div class="fly-menu__form-item">
                <textarea name="message" id="" placeholder="Ваше сообщение"></textarea>
            </div>
            <div class="fly-menu__form-item">
                <button class="o-button -width -anim js-parallax  js-debug is-inview" tabindex="0">
                    <span class="o-button_label">Отправить</span>
                    <div class="o-button_line"></div>
                    <div class="o-button_line"></div>
                </button>
            </div>
        </div>
    </div>


</div>



//= include/footer-new.html