//= include/header-new.html

<script>
    document.title = 'Страница обучение внутренняя';
</script>

<div class="innerslider">
    <div>
        <div class="innerslider__item innerslider__item--noverlay">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/tmp/training-slider-1-overlay.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            название<br />
                            семинара
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="slider-seminars">
                            <div class="row slider-seminars__list">
                                <div class="slider-seminars__date">
                                    <div class="slider-seminars__param-name">Дата</div>
                                    <div class="slider-seminars__param-value">22.08.2017</div>
                                </div>
                                <div class="slider-seminars__price">
                                    <div class="slider-seminars__param-name">Стоимость</div>
                                    <div class="slider-seminars__param-value">5 000 руб.</div>
                                </div>
                            </div>
                            <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                                <span class="o-button_label">Подать заявку на участие</span>
                                <div class="o-button_line"></div>
                                <div class="o-button_line"></div>
                            </button>
                        </div>

                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/events/slide-1-gray.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Второй <br />слайд
                        </div>
                        <a class="innerslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="content__wrap content__wrap--bnr">
    <div class="container">
        <div class="seminar-page">
            <div class="seminar-page__type">Семинар</div>
            <div class="seminar-page__name"><h1 class="header1">Название семинара</h1></div>

            <div class="seminar-page__meta row">
                <div class="seminar-page__date columns">
                    <div class="seminar-meta__name">дата</div>
                    <div class="seminar-meta__value">22.08.2017</div>
                </div>
                <div class="seminar-page__price columns">
                    <div class="seminar-meta__name">стоимость</div>
                    <div class="seminar-meta__value">5 000 руб.</div>
                </div>
                <div class="seminar-page__address columns">
                    <div class="seminar-meta__name">Место проведения</div>
                    <div class="seminar-meta__value">г. Москва ул. Строителей, 15</div>
                </div>
            </div>

            <div class="seminar-page__table">
                <div class="seminar-page__table-head">
                    <div class="seminar-page__table-speaker">Спикеры</div>
                    <div class="seminar-page__table-theme">Тема</div>
                    <div class="seminar-page__table-time">Времянной интервал</div>
                </div>
                <div class="seminar-page__table-row">
                    <div class="seminar-page__table-speaker">
                        <div class="seminar-page__table-author" style="background-image: url('/assets/template/img/tmp/seminar-speaker-1.jpg')"></div>
                        <div>Имя спикера</div>
                    </div>
                    <div class="seminar-page__table-theme">
                        <a href="#">The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and funct</a>
                    </div>
                    <div class="seminar-page__table-time">
                        с 14:00 до 15:30
                    </div>
                </div>
                <div class="seminar-page__table-row">
                    <div class="seminar-page__table-speaker">
                        <div class="seminar-page__table-author" style="background-image: url('/assets/template/img/tmp/seminar-speaker-1.jpg')"></div>
                        <div>Имя спикера</div>
                    </div>
                    <div class="seminar-page__table-theme">
                        <a href="#">The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and funct</a>
                    </div>
                    <div class="seminar-page__table-time">
                        с 14:00 до 15:30
                    </div>
                </div>
                <div class="seminar-page__table-row">
                    <div class="seminar-page__table-speaker">
                        <div class="seminar-page__table-author" style="background-image: url('/assets/template/img/tmp/seminar-speaker-1.jpg')"></div>
                        <div>Имя спикера</div>
                    </div>
                    <div class="seminar-page__table-theme">
                        <a href="#">The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and funct</a>
                    </div>
                    <div class="seminar-page__table-time">
                        с 14:00 до 15:30
                    </div>
                </div>
                <div class="seminar-page__table-row">
                    <div class="seminar-page__table-speaker">
                        <div class="seminar-page__table-author" style="background-image: url('/assets/template/img/tmp/seminar-speaker-1.jpg')"></div>
                        <div>Имя спикера</div>
                    </div>
                    <div class="seminar-page__table-theme">
                        <a href="#">The Sept-Îles Detention Centre, a suburban building completed in August 2016 that fully meets the site's safety and funct</a>
                    </div>
                    <div class="seminar-page__table-time">
                        с 14:00 до 15:30
                    </div>
                </div>
            </div>


            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.</p>


            <button class="o-button -width-auto -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                <span class="o-button_label">Следующее событие</span>
                <div class="o-button_line"></div>
                <div class="o-button_line"></div>
            </button>



        </div>




    </div>
</div>


//= include/footer-new.html