//= include/header-new.html

<script>
    document.title = 'Обучение';
</script>

<div class="innerslider">
    <div>
        <div class="innerslider__item innerslider__item--noverlay">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/tmp/training-slider-1-overlay.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            название<br />
                            семинара
                        </div>
                        <a class="innerslider__label" href="#">
                            <span class="o-hsub_label">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </span>
                        </a>
                        <div class="slider-seminars">
                            <div class="row slider-seminars__list">
                                <div class="slider-seminars__date">
                                    <div class="slider-seminars__param-name">Дата</div>
                                    <div class="slider-seminars__param-value">22.08.2017</div>
                                </div>
                                <div class="slider-seminars__price">
                                    <div class="slider-seminars__param-name">Стоимость</div>
                                    <div class="slider-seminars__param-value">5 000 руб.</div>
                                </div>
                            </div>
                            <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                                <span class="o-button_label">Подать заявку на участие</span>
                                <div class="o-button_line"></div>
                                <div class="o-button_line"></div>
                            </button>
                        </div>

                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                                    <span class="o-button_label">
                                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="innerslider__item">
            <div class="innerslider__image-box" style="background-image: url('/assets/template/img/events/slide-1-gray.jpg')"></div>
            <div class="c-header-home_text-load">
                <div class="innerslider__wrap container js-parallax">
                    <div class="innerslider__text">
                        <div class="innerslider__header">
                            Второй <br />слайд
                        </div>
                        <a class="innerslider__label" href="#">
                                            <span class="o-hsub_label">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            </span>
                        </a>
                        <div class="innerslider__controls">
                            <div class="js-parallax is-inview" data-speed="1" data-position="top" data-target="#js-header" style="transform: translate3d(0px, -15.15px, 0px);">
                                <button class="o-button -white -square -left innerslider-button slick__prev" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-prev"/></svg>
                                    </span>
                                </button>
                                <button class="o-button -white -square innerslider-button slick__next slick-arrow" type="button">
                                    <span class="o-button_label">
                                        <svg class="o-button_icon" role="img"><use xlink:href="assets/pomerleau/images/sprite.svg#arrow-next"/></svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div> <!--/mainslider-->

<div class="content__wrap content__wrap--bnr">
    <div class="container">

        <div class="seminars">
            <div class="seminars__list row">
                <div class="seminars__item columns">
                    <div class="seminars__card" style="background-image: url('/assets/template/img/tmp/seminar-1.jpg')">
                        <div class="seminars__card-inner">
                            <div class="seminars__name">
                                <a href="/seminar-1.html">Название семинара</a>
                            </div>
                            <div class="seminars__anons">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                            <div class="row seminars__params">
                                <div class="seminars__date">
                                    <div class="seminars__param-name">Дата</div>
                                    <div class="seminars__param-value">22.08.2017</div>
                                </div>
                                <div class="seminars__price">
                                    <div class="seminars__param-name">Стоимость</div>
                                    <div class="seminars__param-value">5 000 руб.</div>
                                </div>
                            </div>
                            <div class="seminar__action">
                                <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                                    <span class="o-button_label">Подать заявку на участие</span>
                                    <div class="o-button_line"></div>
                                    <div class="o-button_line"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="seminars__item columns">
                    <div class="seminars__card" style="background-image: url('/assets/template/img/tmp/seminar-2.jpg')">
                        <div class="seminars__card-inner">
                            <div class="seminars__name">
                                <a href="#">Название семинара</a>
                            </div>
                            <div class="seminars__anons">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </div>
                            <div class="row seminars__params">
                                <div class="seminars__date">
                                    <div class="seminars__param-name">Дата</div>
                                    <div class="seminars__param-value">22.08.2017</div>
                                </div>
                                <div class="seminars__price">
                                    <div class="seminars__param-name">Стоимость</div>
                                    <div class="seminars__param-value">5 000 руб.</div>
                                </div>
                            </div>
                            <div class="seminar__action">
                                <button class="o-button -width -anim js-parallax  js-debug is-inview" href="#" tabindex="0">
                                    <span class="o-button_label">Подать заявку на участие</span>
                                    <div class="o-button_line"></div>
                                    <div class="o-button_line"></div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <h2 class="header2">Архив семинаров</h2>

        <div class="seminar-archive row">
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-1.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-2.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-3.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-2.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-3.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="seminar-archive__item columns">
                <div class="seminar-archive__card">
                    <a href="#" class="seminar-archive__link">
                        <div class="seminar-archive__image" style="background-image: url('/temp/news-1.jpg')"></div>
                        <div class="seminar-archive__info">
                            <div class="seminar-archive__caption">
                                Название семинара
                            </div>
                            <div class="seminar-archive__date">
                                24 июня 2017
                            </div>
                            <div class="seminar-archive__intro">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>



</div>


//= include/footer-new.html